@import url('slip.css');

@media screen {
  #print-slips {
    display: none;
  }
}

@media print {
  body {
    font-size: 11pt;
  }

  #print-slips {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  #print-slips > tbody > tr {
    break-inside: avoid-page;
    break-after: page !important;
  }

  #print-slips > tbody > tr:last-child {
    break-after: avoid-page;
  }

  td.slip {
    padding: 0 0.25in;
    vertical-align: top;
    overflow: hidden;
  }
  
}